#info{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    margin: 0px auto;
    padding: 20px 0px;
    border-bottom: solid 1px var(--dark-text-blue);
    max-width: 1200px;
}
@media (max-width: 768px) {
    #info{
        flex-direction: column;
        gap: 20px;
    }
}



.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: space-between;
    /* width: 300px; */
  }

  .container h2 {
    font-size: 2rem;
    color: var(--dark-text-blue);
    text-transform: uppercase;
    margin: 0px;
    max-width: 600px;
    text-wrap: wrap;
  }

  #info .container p, .container ul, .container ul li{
    font-size: 1.25rem;
  }

  .container ul li {
    margin: 10px 0px;
  }

  .container ul li strong {
    font-weight: bolder;
    margin-right: 10px;
  }
  
  .contact-options .btn{
    background-color: var(--dark-text-blue);
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    width: calc(100% - 40px);
    font-size: 1.2rem;
  }
  .contact-options .btn:hover{
    opacity: 0.9;
    transform: scale(1.02);
  }




.resource-category {
    flex: 0 1 30%;
    /* flex: 300px; */
    min-width: 250px;
    /* max-width: 300px; */
    text-align: left;
    box-sizing: border-box; /* Include padding/borders in width */
    margin: 40px;
}

.resource-category h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark-text-blue);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid var(--dark-text-blue) 2px;
    text-wrap: none;
}

.resource-category a {
    display: block;
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px 0px;
    color: #333;
    width: fit-content;
    /* font-weight: bold; */
    position: relative;
}

.resource-category a:hover {
    color: var(--blue-dark);
    /* text-decoration: underline; */
    background: rgba(0, 0, 0, 0.05);
}

/* Fade in */
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--dark-text-blue);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

/* Slide in */
.resource-category a {
    overflow: hidden;
  }
  
  .resource-category a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }
  
  .resource-category a:hover::after,
  .resource-category a:focus::after{
    transform: translate3d(0, 0, 0);
  }


#flyer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px auto;
    width: 99vw;
    max-width: 800px;
    max-height: 80vh;
}













.arrow-section {
    position: relative;
    text-align: center;
    padding: 50px 20px 100px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 100px;
    /* transform: translateY(-50px); */
    /* color: var(--dark-text-blue); */
    text-transform: uppercase;
}

.blue {
    background-color: var(--dark-text-blue);
}

.white {
    background-color: var(--soft-gray-bg);
    color: var(--dark-text-blue);
    transform: translateY(-50px);
    z-index: 10;
    margin-top: 50px;
}

.arrow-section::after {
    content: "";
    position: absolute;
    top: -49px;
    left: 0;
    width: 100%;
    height: 50px;
    background: inherit;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    z-index: 10;
}

.content-section {
    text-align: center;
    padding: 40px 20px 80px 20px;
    font-size: 1.8rem;
    position: relative;
    /* transform: translateY(-50px); */
    color: var(--dark-text-blue);
}

.content-section::after {
    content: "";
    position: absolute;
    top: -49px;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--soft-gray-bg);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.content-section img {
    max-width: 800px;
    width: 95%;
    max-height: 80vh;
    object-fit: contain;
}

.content-section p a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--dark-text-blue);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    width: fit-content;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.content-section p a:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.info-section {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    gap: 100px;
    max-width: 1200px;
    margin: 50px auto;
    /* margin-bottom: 100px; */
}

hr {
    border: solid 1px var(--dark-text-blue);
    width: 80%;
}

/* .info-section.reverse {
    flex-direction: row-reverse;
} */

.info-section .text {
    flex: 1;
    min-width: 250px;
    text-align: left;
    flex-wrap: wrap;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #333;
}

.info-section .text h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--dark-text-blue);
    text-transform: uppercase;
}

.info-section .text a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--dark-text-blue);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    width: fit-content;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.info-section .image {
    flex: 1;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section .image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .info-section {
        flex-direction: column;
        gap: 20px;
    }
}