:root {
    --primary-blue: #5A9BD5;   /* Balanced sky blue */
    --secondary-blue: #8FC1E3; /* Soft, calming blue */
    --accent-blue: #1B6CA8;    /* Richer, deeper blue for contrast */
    --dark-text-blue: #144A75; /* Strong navy for better readability */
    --soft-gray-bg: #F2F7FC;   /* Light blue-gray for subtle contrast */
}

.footer {
    background-color: var(--dark-text-blue);
    color: var(--soft-gray-bg);
    padding: 20px 0; 
  }

  .footer-left {
    display: flex;
    justify-content: right;
  }

  .footer-logo {
    width: auto;
    height: 160px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .footer .footer-container{
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-info {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  
  .footer-social {
    margin: 20px 0px;
  }

  .footer-social a img{
    width: 40px;
    height: 40px;
  }
  
  .social-link {
    color: var(--soft-gray-bg);
    margin-right: 15px;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .social-link:hover {
    color: var(--soft-gray-bg);
  }
  
  .footer-copyright {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .footer .footer-row {
      text-align: center;
    }
  
    .footer-info {
      margin-bottom: 0px;
    }
  
    .footer-social {
      margin-bottom: 0px;
    }

    .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }

    .footer-logo {
      margin: 0px;
    }
  }
  