:root{
    --dark: black;
    --light-blue: #0081b8;
    --dark-blue: #083345;
    --dark-blue-transparent: rgba(8, 51, 69, 0.5);
    --text: white;
    --gray: #161616;
    --gray-transparent: rgba(22, 22, 22, 0.5);
    --give-now-color: #ff8c00; /* Orange for Give Now button */
    --give-now-hover: #ff7a00; /* Darker orange for hover effect */
}


/* Navbar Base Styles */
.navbar {
    background-color: var(--gray);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid var(--light-blue);
    height: auto;
}

/* Logo */
.logo {
    width: 60px;
    height: auto;
}

/* Navbar Links */
.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: var(--light-blue);
    border-radius: 5px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 36px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Give Now Button */
.give-now {
    background-color: var(--gray);
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: solid 5px var(--light-blue);
    margin-left: 20px;
}

.give-now:hover {
    background-color: var(--dark-blue);
}

/* Responsive Styles */
@media (max-width: 911px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: var(--gray);
        position: absolute;
        top: 85px;
        left: 0;
        text-align: center;
        padding: 20px 0;
        border-top: 5px solid var(--light-blue);
    }

    .navbar-links.show {
        display: flex;
    }

    .navbar-links li {
        margin: 20px 0;
    }

    #give-now-desktop {
        display: none;
    }

    #give-now-mobile {
        display: block;
    }

    #give-now-mobile > a {
        margin: 30px 0px;
        padding: 15px 20px;
    }
}
@media (min-width: 912px) {
    #give-now-mobile {
        display: none; /* Hide inside-menu button on larger screens */
    }
}

@media (max-width: 911px) {
    #give-now-desktop {
        display: none; /* Hide the standalone button on smaller screens */
    }

    #give-now-mobile {
        display: block; /* Show inside-menu button on mobile */
    }
}
