.support-section {
    background-color: #f4f4f4;
    padding: 50px 0;
    display: flex;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
  }
  
  .support-section .container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: space-between;
    /* width: 300px; */
  }
 
  .support-section h2 span {
    color: #333;
    font-size: 1.5rem;
  }

  .support-section .container h2 {
    font-size: 2rem;
    color: var(--dark-text-blue);
    text-transform: uppercase;
    margin: 0px;
  }
  
  .support-section .container p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #333;
    margin: 0px;
  }
  
  .contact-options .btn{
    background-color: var(--dark-text-blue);
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
    width: calc(100% - 40px);
    font-size: 1.2rem;
  }



  .parallax {
    background-image: url('images/office-925806_1920.jpg');
    height: 40vh; /* Adjust the height as needed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30% 30% 20% 60% / 40% 10% 20% 20%;
    margin-bottom: 50px;
  }
  




.parent-container {
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Stack the groups vertically */
    gap: 75px; /* Gap between the groups */
    align-items: stretch; /* Align groups to the start of the container */
    width: 80%;
    max-width: 1200px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Set the gap between items */
    align-items: stretch;
    justify-content: flex-start;
    width: 100%; /* Ensure each group takes up full width */
}

.resource-category {
    flex: 0 1 30%;
    /* flex: 300px; */
    min-width: 250px;
    /* max-width: 300px; */
    text-align: left;
    box-sizing: border-box; /* Include padding/borders in width */
}

.resource-category h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--dark-text-blue);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid var(--dark-text-blue) 2px;
    text-wrap: none;
}

.resource-category a {
    display: block;
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px 0;
    color: #333;
    width: fit-content;
    /* font-weight: bold; */
}

.resource-category a:hover {
    color: var(--blue-dark);
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.1);
}

/* Medium screens: Switch to 2x4 layout */
@media (max-width: 1454px) {
    .parent-container {
        width: 95%;
    }
}

/* Medium screens: Switch to 2x4 layout */
@media (max-width: 1224px) {
    .resource-category {
        flex: 1 1 calc(50% - 50px); /* 2 items per row with gap */
    }
    .parent-container {
        width: 80%;
    }
}

/* Small screens: Switch to 1x8 layout */
@media (max-width: 600px) {
    .resource-category {
        flex: 1 1 100%; /* 1 item per row */
    }
    .support-section {
        flex-direction: column;
    }
}