@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-blue: #5A9BD5;   /* Balanced sky blue */
    --secondary-blue: #8FC1E3; /* Soft, calming blue */
    --accent-blue: #1B6CA8;    /* Richer, deeper blue for contrast */
    --dark-text-blue: #144A75; /* Strong navy for better readability */
    --soft-gray-bg: #F2F7FC;   /* Light blue-gray for subtle contrast */
}


* {
  /* font-family: "Oswald", serif; */
  /* font-family: "Bebas Neue", serif; */
  /* font-family: "Raleway", Arial, sans-serif; */
  /* font-family: 'Epilogue', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

html{
  overflow-x: hidden;
}
body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--soft-gray-bg);
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    background: url('images/cityscape.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border-bottom-left-radius: 60% 100px;
    border-bottom-right-radius: 60% 100px;
}
.hero h1{
  font-size: clamp(42px, 8vw, 5rem);
  font-weight: 800;
  text-transform: uppercase;
}




.mission-section {
  visibility: hidden;
  text-align: center;
  padding: 60px 20px;
}

.mission-section.in-view {
  visibility: visible;
  transition: fade 15s ease;
}

.mission-content {
  max-width: 1020px;
  margin: 0 auto;
}

.mission-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--dark-text-blue);
  text-transform: uppercase;
}

.mission-section p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #555;
}

.mission-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--dark-text-blue); /* Blue button */
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: #144975ca; /* Darker blue on hover */
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 910px) {
  .mission-buttons {
    flex-direction: column;
  }
}




/* Mission & Vision */
.mission-vision {
    background: linear-gradient(to top, #00000080, #00000080), url('images/river-6175173_1280.jpg') no-repeat top center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: calc(100% - 40px);
    color: var(--soft-gray-bg);
    padding: 60px 20px; /* Space around content */
    text-align: center;
    margin-bottom: 50px;
  }
  
  .mission-vision-content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mission-vision-title {
    font-size: 2.5rem; /* Large font size for the title */
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  
  .mission-vision-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px; /* Gap between the items */
  }
  
  .mission-vision-item {
    /* background: var(--secondary-blue); Light gray background for each item */
    padding: 30px;
    border-radius: 10px;
    border: var(--soft-gray-bg) 1px solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px; /* Ensures the item doesn't get too narrow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .mission-vision-item:hover {
    transform: translateY(-10px); /* Slight lift on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .mission-vision-item-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--soft-gray-bg); /* Use light blue color for the titles */
    margin-bottom: 15px;
  }
  .icon {
    width: 50%; /* Adjust size as needed */
    height: auto;
    margin: 0 auto 15px;
}

.icon img {
    width: 100%;
    height: auto;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .mission-vision-title {
      font-size: 2rem;
    }
    
    .mission-vision-items {
      flex-direction: column; /* Stack items on small screens */
      gap: 20px;
    }
  
    .mission-vision-item {
      min-width: calc(100%-60px); /* Make items take full width on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .mission-vision-title {
      font-size: 1.8rem;
    }
    
    .mission-vision-item {
      padding: 20px;
    }
  }

/* Cards */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    transition: ease 500ms fadeInUp;
}

.card {
    background-color: var(--light-gray);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    /* border: solid 2px var(--primary-blue); */
    opacity: 0;
    transform: translateY(50px);
}

.card.in-view {
    animation: fadeInUp 1s ease-out forwards;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: solid 3px var(--accent-blue);
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.8rem;
    color: var(--dark-text-blue);
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    color: var(--dark-text-blue);
    margin-bottom: 20px;
}

.card-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: var(--dark-text-blue);
    padding: 12px 18px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card-link:hover {
    background: var(--accent-blue);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}
  /* Keyframes for animation */
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .card:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .card:nth-child(2) {
    animation-delay: 0.25s;
  }
  
  .card:nth-child(3) {
    animation-delay: 0.5s;
  }
  
  .card:nth-child(4) {
    animation-delay: 0.75s;
  }


  /* About link section */
  .full-width-section {
    width: 100%;
    height: auto; /* Takes up 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px auto;
  }
  
  .full-width-section .container-fluid {
    padding: 0;
  }
  
  .full-width-section .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 2fr;
  }
  
  .full-width-section .col-md-6 {
    background: linear-gradient(to top, #f2f7fcd2, #f2f7fcd2), url('images/ccd-regions/CCD+Map+Small.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 0;
    width: 50%;
  }
  
  .full-width-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .section-text-container {
    padding: 20px 40px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--dark-text-blue); /* Text color changed to var(--dark-text-blue) */
  }
  
  .section-text-container h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 15px 0px;
  }
  
  .section-text-container p {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .section-text-container ul li {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .about-learn-more {
    background: var(--dark-text-blue);
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: fit-content;
  }
  
  @media (max-width: 1000px) {
    .full-width-section .row {
      flex-direction: column;
    }
  
    .section-text-container {
      text-align: center;
    }
  
    .section-text-container h2 {
      font-size: 1.75rem;
    }
  
    .section-text-container p {
      font-size: 1rem;
    }

    .section-text-container ul li {
        font-size: 1rem;
    }

    .about-learn-more {
      width: calc(100% - 40px);
    }

    .full-width-section > div > div {
        align-items: center;
        justify-content: center;
    }

    .full-width-section .col-md-6 {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  





